* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('./background-pokeballs.png');
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
}

.custom-box {
  background: #ffffff9e;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 5px;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root {
  width: 100%;
  height: 100%;
  /* display: grid;
  place-items: center; */
}

#main-container {
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
  /* width: 100%;
  height: 100%;
  display: grid;
  place-items: center; */
  display: flex;
  flex-flow: column;
  align-items: center;
}

.main-container-buttons,
#main-carrousel-container {
  margin: 5px 0 5px 0;
  display: flex;
  flex-flow: row wrap;
  max-width: 300px;
  gap: 5px;
}

.main-container-buttons button {
  width: 64px;
  /* border: none; */
  padding: 2px;
  font-size: 16px;
}

.main-car-button {
  width: 30px;
  height: 26px;
}

#sub-carrousel-container {
  display: flex;
  gap: 3px;
}

.main-ctrl-btn {
  background: white;
  border: 2px solid black;
  border-radius: 7px;
}

.main-ctrl-btn:hover {
  border: 2px solid rgba(255, 0, 0, 0.702);
  /* background: linear-gradient(red 50%, white 50%); */
}

.main-ctrl-btn:active {
  background-color: #000;
  color: #fff;
}

.main-ctrl-btn:disabled {
  background-color: #ddd;
  color: black;
}

#pack {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
  padding: 15px;
  padding-top: 15px;
  justify-content: space-evenly;
  padding-top: 25px;
  text-shadow: 1px 0px #fff, 0px 1px #fff, 1px 1px #fff, -1px 0px #fff, 0px -1px #fff, -1px -1px #fff;
  overflow: auto;
}

.form-container {
  /* position: absolute;
  top: 0; */
  width: 250px;
  height: 365px;
  border: 5px solid black;
  padding: 5px 0 5px 0;
  /* margin: 10px;
  margin-top: 30px; */
  border-radius: 10px;
  /* background: #d8d8d8; */
  /* background: linear-gradient(red 50%, white 50%); */
  background: linear-gradient(#ff0000e3, #ff00005c);
  /* font-family: roman; */
  font-weight: bold;

}

.form-container form {
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.form-label,
.form-select,
.form-number {
  margin: 5px 0 0 0;
}

.input-wp {
  margin-top: 5px;
}

.form-number {
  padding: 2px;
  border-radius: 5px;
  border: none;
  text-align: center;
  border: 1px solid black;
  margin: 0 5px;
}

.form-divider {
  margin-top: 5px;
  border: none;
  border-right: none;
  border-left: none;
  /* background: #d4d4d449; */
  width: 100%;
  padding: 0 5px 0 5px;
}

.form-number {
  width: 32px
}

.pokedex_type_wrp {
  margin-top: 0;
}

#pokedex-type {
  background: white;
  border: none;
  padding: 3px 5px 3px 5px;
  text-transform: capitalize;
  border-radius: 5px;
}

input[type=number]::-moz-inner-spin-button {
  width: 50px;
  height: 30px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.checkboxes {
  justify-content: space-evenly;
  /* padding: 10px 0 10px 0; */
}

.two-checkboxes {
  margin-top: 5px;
  justify-content: space-around;
}

.selected-types {
  margin: 0 auto;
  text-align: center;
}

.submit {
  background: #000;
  color: white;
  padding: 5px;
  width: 100px;
  border: none;
  border-radius: 15px;
  font-weight: bold;
}

.submit:hover {
  background: #fff;
  /* border: 1px solid; */
  box-shadow: inset 0px 0px 1px #000;
  color: #000;
}

.submit:active {
  background: #b6b6b6;
  box-shadow: inset 0px 0px 5px #000;
  color: #000;
}

.types-container {
  /* display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-self: center;
  width: 180px; */
  width: 100%;
  height: 294px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  justify-items: center;
}

.type-wrap {
  margin: 5px;
  width: 50px;
}

.main-wrap {
  height: 381px;
  margin: 10px;
}

.card {
  width: 250px;
  height: 365px;
  /* border: 1px solid black; */
  padding: 10px;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}

.inner-card {
  background-color: #ffffff93;
  /* padding: 0 5px 0 5px; */
  width: 218px;
  height: 343px;
  border-radius: 10px;

}

.pkm-identity-wrapper {
  justify-content: flex-start;
  margin-bottom: 10px;
}



.label {
  font-size: 14px;
}

.pkm-index {
  display: flex;
  align-items: center;
  /* border: 1px solid black;
  border-radius: 50%; */
  /* width: 32px; */
  /* height: 40px; */
  text-align: center;
  justify-content: center;
}

.Pkm-name {
  /* margin-left: 10px; */
  text-transform: capitalize;
}

.pkm-pa-wr {
  justify-content: space-between !important;
  height: 170px;
  position: relative;
  padding-bottom: 10px;
}

.pkm-sprite {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.weight {
  z-index: 2;
}

.type-phys-description {
  height: 299px;
}

.description {
  /* margin-top: 10px; */
  padding: 5px;
  overflow: auto;
  height: 135px;
}



.traits-wrp {
  width: 100%;
  align-items: flex-start;
  text-transform: capitalize;
  /* justify-content: space-between; */
}

.half {
  width: 50%
}

.types {
  /* margin: 10px;
  border: 1px solid black; */
  align-items: flex-start;
}

.moves {
  align-items: end;
}

.types-ul {
  align-items: flex-start;
}

.moves-ul {
  align-items: flex-end;
  height: 54px;
  overflow: auto;
}

ul {
  padding: 2px;
  /* align-self: flex-start; */
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.ls-style-none {
  list-style: none;
}

.second-face>div {
  width: 100%;
}

.third-face>div {
  width: 100%;
}

.w100 {
  width: 100%
}

.stats-wrp {
  /* height: 154px; */
  width: 100%;
  justify-content: flex-end;
  /* justify-content: space-between; */
}

.a-stats {
  height: 96px;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.label {
  text-transform: uppercase;
  /* font-weight: 700; */
}

/* .w100 div:nth-of-type(2){
  i
} */

/* .genus {} */

.ecology {
  height: 100px;
  width: 100%;
  /* margin-top: 10px; */
  flex-wrap: wrap;
  justify-content: space-around;
}

.ecology-a {
  width: 100%;
}

.ecology-a>.flex-row {
  justify-content: space-between;

}

/* EVOLUTIONS */

.evo-wrp {
  width: 100%;
}

.first-img-3rd-tab {
  height: 132px;

}

.evo-sprite {
  background: #ffffff55;
  border-radius: 10px;
  margin-bottom: 5px;
}

.evo-p,
.capitalize {
  text-transform: capitalize;
}

.evo-ctrl {
  height: 20px;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5px;
}

.carrousel {
  justify-content: space-around;
}

.carrousel-prev,
.carrousel-next,
.form-card-btn-previous,
.form-card-btn-next,
.btn-form-number {
  height: 20px;
  width: 80px;
  border-radius: 10px;
  border: 2px solid #ffffff73;
  background: transparent;
  box-shadow: inset 0 0 1px 1px black;
  color: #ffffffc9;
  text-shadow: 1px 0px black, 0px 1px black, 1px 1px black, -1px 0px black, 0px -1px black, -1px -1px black;
  transition: .2s;
}

.btn-form-number:hover {
  background: #ffffffba;
}

.btn-form-number:hover {
  background: #ffffffba;
  box-shadow: inset 0 0 2px 2px black;
}

.carrousel-prev:hover,
.carrousel-next:hover,
.form-card-btn-previous:hover,
.form-card-btn-next:hover {
  background: #ffffff3f;
}

.carrousel-prev:active,
.carrousel-next:active,
.form-card-btn-previous:active,
.form-card-btn-next:active {
  background: #c7c7c7bb;
  border: 2px solid #fff;
  box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.494);
}

/* FORMS */

.form-face-wrp {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  height: 285px;
  height: 100%;
  width: 100%;
}

.form-card-btn-previous,
.form-card-btn-next {
  height: 70px;
  width: 40px;
  border-radius: 20px;
}

.form-card-btn-previous {
  margin-right: 5px;
}

.form-card-btn-next {
  margin-left: 5px;
}

.forms-wrp {
  /* width: 250px; */
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  height: 95%;
  width: 234px;
  background-color: transparent;
}

.form-item {
  /* display: flex;
  flex-flow: column;
  align-items: center; */
  justify-content: center;
}

.form-sprite {
  width: 101px;
  height: 96px;
  background: #ffffff7e;
  padding: 5px;
  border-radius: 10px;
}

/* .w100:nth-child(2){
  height: 100px;
  margin-top: 10px;
  flex-wrap: wrap;
} */

.tabs {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    "a b c d e f";
  /* grid-auto-rows: 100px; */
  align-items: start;
  /* gap: 2px; */
  background: #fff;
}

.form-tabs {
  gap: 5px;
  width: 250px;
}

.form-tabs>button {
  width: 70px;
}

.options>.custom-box {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.custom-box>select,
.custom-box>button {
  width: 105px;
  /* height: ; */
  padding: 5px;
  background: #fff;
  border: none;
  border-radius: 5px;
}

.tab,
.change-card-face-Tabs {
  background: #fff;
  /* border: 1px solid #0000005f; */
  /* border-top:none;
  border-left:none;
  border-right:none; */
  border: none;
  /* border-bottom: 1px; */
  opacity: .5;
  transition: .3s;
  font-weight: bold;
  text-shadow: 1px 0px #fff, 0px 1px #fff, 1px 1px #fff, -1px 0px #fff, 0px -1px #fff, -1px -1px #fff;
}


.change-card-face-Tabs {
  border: 1px solid #000;
  width: 50px;
  color: #000;
  opacity: 1;
  border-bottom: 1px solid #fff;
}

.tab:hover {
  box-shadow: inset 0px 0px 0px 9px #dededeb3;
  /* border: 1px solid #fff; */
  color: white;
  text-shadow: 1px 0px #000, 0px 1px #000, 1px 1px #000, -1px 0px #000, 0px -1px #000, -1px -1px #000;
}

.inactiveTab {
  opacity: .6;
}

.activeTab {
  opacity: 1;
}

.tab-1 {
  grid-area: a-start;
  border-radius: 10px 0 0 0 !important;
}

.tab-2 {
  grid-area: b-start;
  margin-left: 2px;
}

.tab-3 {
  grid-area: c-start;
  margin-left: 2px;
}

.tab-4 {
  grid-area: d-start;
  margin-left: 2px;
}

.tab-erase-pokemon {
  grid-area: f-start;
  width: 41px;
  height: 16px;
  justify-self: self-end;
  border-radius: 0 10px 0 0 !important;
  border-bottom: 2px solid rgb(255, 47, 0);
  background: rgb(255, 47, 0) !important;
  color: white;
  position: relative;
  z-index: 1;
  opacity: 1;
  text-shadow: 1px 0px #000, 0px 1px #000, 1px 1px #000, -1px 0px #000, 0px -1px #000, -1px -1px #000;
}

.tab-erase-pokemon:hover {
  background: rgb(255, 47, 0) !important;
  border-bottom: 2px solid rgb(196, 171, 165);
}

.tab-icon-erase {
  display: block;
  /* transform: rotate(45deg); */
  font-weight: bold;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: -1;
}



.change-card-face-tab,
.tab-erase-pokemon {
  border-radius: 0;
  /* border: none; */
}

/* .change-card-face-tab{
  grid-area: a-start;
} */

.form-tab {
  grid-area: c-start;
}

.types-tab {
  grid-area: d-start;
  /* margin-left: 5px; */
}

.types-tab-container {
  justify-content: space-between;
  padding: 10px 0 10px 0;

}

.type-wrap {
  text-transform: capitalize;
  margin: 5px 0 5px 0;
}

#pokeball-container {
  height: 381px;
  display: flex;
  align-items: center;
  position: relative;
}

#pokeball {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: linear-gradient(red 50%, rgb(240, 240, 240) 50%);
  border: 1px solid #000;
  display: flex;
  /* flex-direction: row;
  align-items: center;
  justify-content: center; */
  /* display: grid;
  place-items: center; */
  position: relative;
  animation: rotate 7s infinite linear;
}

@keyframes rotate {
  from {
    transform: none;
  }

  to {
    transform: rotate(360deg);
  }
}

#pokeball-line {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 15px;
  background-color: #151515;
  box-shadow: inset 0 0 2px #000;
}

.pokeball-button-band {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #151515;
  /* box-shadow: inset 0 0 2px #000; */
}

.white {
  width: 55px;
  height: 55px;
  background-color: #fff;
  /* box-shadow: inset 0px 0px 2px #000; */
}

#pokeball-button {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #fff;
  /* border: 5px solid #fff; */
  box-shadow: 0px 0px 5px #000;
}

.illumination {
  /* width: 2px; */
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  right: 30%;
  transform: translate(-50%, -50%) skew(30deg, 15deg);
  background-color: #fff;
  box-shadow: 5px 0 15px 25px #fff;
  z-index: 3;
}